name: Build and Test

on:
  push:    
    paths:
      - 'src/**'
      - '.github/workflows/**'
    branches:
      - '**'
    tags-ignore:
      - '*.*.*'
  pull_request:    
    paths:
      - 'src/**'
      - '.github/workflows/**'
    branches:
      - '**'
    tags-ignore:
      - '*.*.*'       

jobs:
  build_and_test:

    runs-on: ubuntu-latest

    steps:
    - name: checkout
      uses: actions/checkout@v1

#    - name: setup
#      uses: actions/setup-dotnet@v1
#      with:
#        dotnet-version: 3.1.100

    - name: setup
      run: |
        wget https://dot.net/v1/dotnet-install.sh
        chmod +x ./dotnet-install.sh
        ./dotnet-install.sh
        export PATH=~/.dotnet:$PATH
        dotnet --list-sdks
        ./dotnet-install.sh --version 2.2.207
        dotnet --list-sdks
    
    - name: build
      run: dotnet build -c Release src/Dahomey.Json
    
    - name: test
      run: dotnet test -c Release src/Dahomey.Json.Tests
