name: Build and Test

on:
  push:    
    paths:
      - 'src/**'
      - '.github/workflows/**'
    branches:
      - '**'
    tags-ignore:
      - '*.*.*'
  pull_request:    
    paths:
      - 'src/**'
      - '.github/workflows/**'
    branches:
      - '**'
    tags-ignore:
      - '*.*.*'       

jobs:
  build_and_test:

    runs-on: ubuntu-latest

    steps:
    - name: checkout
      uses: actions/checkout@v1

    - name: setup .net core 3.1.415
      uses: actions/setup-dotnet@v1
      with:
        dotnet-version: 3.1.412
        
    - name: setup .net core 5.0.403
      uses: actions/setup-dotnet@v1
      with:
        dotnet-version: 5.0.400
        
    - name: setup .net core 6.0.100
      uses: actions/setup-dotnet@v1
      with:
        dotnet-version: 6.0.100

# workaround for using multiple dotnet core installs
    - name: setup multiple sdks
      run: |
        rsync -a ${DOTNET_ROOT/6.0.100/3.1.415}/* $DOTNET_ROOT/
        rsync -a ${DOTNET_ROOT/6.0.100/5.0.403}/* $DOTNET_ROOT/
        dotnet --info

    - name: build
      run: dotnet build -c Release src/Dahomey.Json
    
    - name: test
      run: dotnet test -c Release src/Dahomey.Json.Tests
