name: Build and Test

on:
  push:    
    paths:
      - 'src/**'
      - '.github/workflows/**'
    branches:
      - '**'
    tags-ignore:
      - '*.*.*'
  pull_request:    
    paths:
      - 'src/**'
      - '.github/workflows/**'
    branches:
      - '**'
    tags-ignore:
      - '*.*.*'       

jobs:
  build_and_test:

    runs-on: ubuntu-16.04

    steps:
    - name: checkout
      uses: actions/checkout@v1

    - name: setup .net core 2.2.207
      uses: actions/setup-dotnet@v1
      with:
        dotnet-version: 2.2.207

    - name: setup .net core 3.1.100
      uses: actions/setup-dotnet@v1
      with:
        dotnet-version: 3.1.100
        
    - name: setup .net core 5.0.100-preview.6.20318.15
      uses: actions/setup-dotnet@v1
      with:
        dotnet-version: 5.0.100-preview.6.20318.15

# workaround for using multiple dotnet core installs
    - name: setup multiple sdks
      run: |
        rsync -a ${DOTNET_ROOT/3.1.100/2.2.207}/* $DOTNET_ROOT/
        dotnet --info

    - name: build
      run: dotnet build -c Release src/Dahomey.Json
    
    - name: test
      run: dotnet test -c Release src/Dahomey.Json.Tests
